<!doctype html>
<html lang="en">

<!-- Head -->
<head>
  <!-- Page Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- Custom Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
    rel="stylesheet">

 

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="assets/css/libs.bundle.css" />

  <!-- Main CSS -->
  <link rel="stylesheet" href="assets/css/theme.bundle.css" />

  <!-- Fix for custom scrollbar if JS is disabled-->
  <noscript>
    <style>
      /**
          * Reinstate scrolling for non-JS clients
          */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>

  <!-- Page Title -->
  <title> Pentegrate Tech | Order </title>
  <link rel="icon" type="" href="images/favicon.png">

</head>
<body class="">
    <!-- Navbar -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark flex-column border-0">
        <div class="container-fluid">
            <div class="w-100">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
    
                    <!-- Logo-->
                    <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0 order-0" href="index.php">
                        <div class="d-flex align-items-center">
                            <img  style="display: inline-block; width:auto; max-width:21%;" src="images/navlogo.png"></img>
                        </div>
                    </a>
                    <!-- / Logo-->
    
                   <!-- Navbar Icons-->
                    <ul class="list-unstyled mb-0 d-flex align-items-center order-1 order-lg-2 nav-sidelinks ">
    
                        <!-- Mobile Nav Toggler-->
                        <li class="d-lg-none">
                            <span class="nav-link text-body d-flex align-items-center cursor-pointer" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation"><i class="ri-menu-line ri-lg me-1"></i> Menu</span>
                        </li>
                        <!-- /Mobile Nav Toggler-->
    
                        <!-- Navbar Search-->
                        
                        <!-- /Navbar Search-->

                        <li  class="ms-1 d-none d-lg-inline-block">
                            <a class="nav-link text-body" href="index.php">
                            <h7 style="color: white;">
                                HOME
                                </h7>
                            </a>
                        </li>
    
                        <!-- Navbar Login-->
                        <li  class="ms-1 d-none d-lg-inline-block">
                            <a class="nav-link text-body" href="product.php">
                            <h7 style="color: white;">
                                Products
                                </h7>
                            </a>
                        </li>
                        <!-- /Navbar Login-->
    
                        <li  class="ms-1 d-none d-lg-inline-block">
                            <a class="nav-link text-body" href="cart.php">
                            <h7 style="color: white;">
                                Cart
                                </h7>
                            </a>
                        </li>
                        <!-- /Navbar Cart Icon-->
    
                    </ul>
                    <!-- Navbar Icons-->   
                    <!-- Main Navigation-->
                    <div class="flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1 order-2 order-lg-1"
                        id="navbarNavDropdown">
    
                       
                    </div>
                    <!-- / Main Navigation-->
    
                </div>
            </div>
        </div>
    </nav>
    <!-- / Navbar-->    <!-- / Navbar-->

    <!-- Main Section-->
    <section class="mt-0 overflow-lg-hidden  vh-lg-100">
        <!-- Page Content Goes Here -->
        <div class="container">
            <div class="row g-0 vh-lg-100">
                <div class="pt-lg-10 pb-5 pb-lg-0 my-5 my-lg-0">
                    <div class="pe-lg-5">                  
                            <div class="mt-1">
                            <h3 class="fs-5 fw-bolder mb-0 border-bottom pb-4">Your Order:</h3>
                                <div class="table-responsive">
                                    <table class="table align-middle">
                                        <tbody class="border-0">
                                        {{# order_items }}
                                            <div class="row mx-0 py-4 g-0 border-bottom">
                                                <div class="col-2 position-relative">
                                                    <a href="product-page.php?product_id={{product_id}}"><img class="img-fluid" src="{{product_image}}" alt="Product"></a>
                                                </div>
                                                <div class="col-9 offset-1">
                                                    <div>
                                                        <h6 class="justify-content-between d-flex align-items-start mb-2"> {{ product_name }} </h6>
                                                        <span class="d-block text-muted fw-bolder text-uppercase fs-9"> Qty: {{ product_quantity }}</span>
                                                    </div>
                                                    <p class="fw-bolder text-end text-muted m-0">₱{{ product_price }}</p>
                                                </div>
                                            </div>        
                                        {{/ order_items }}                         
                                        </tbody>
                                    </table>
                                </div>

                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <div>
                                        <a href="product.php" class="btn btn-dark">Continue Shopping</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="pt-lg-5 pb-5 pb-lg-0 my-5 my-lg-0">
                    <div class="p-4 py-lg-0 pe-lg-0">
                        <div class="pb-4 border-bottom">
                            <div class="d-flex flex-column flex-md-row justify-content-md-between">
                                <div>
                                    <p class="m-0 fw-bold fs-5"><FONT color=#FF0000>Grand Total</p>
                                </div>
                                <p class="m-0 fs-5 fw-bold"><FONT color=#111827>₱{{total}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Theme JS -->
    <!-- Vendor JS -->
    <script src="./assets/js/vendor.bundle.js"></script>
    
    <!-- Theme JS -->
    <script src="./assets/js/theme.bundle.js"></script>
</body>

</html>